@import "styles/general.css";

@font-face {
    font-family: 'Roboto';
    src: url("assets/Roboto/Roboto-Regular.ttf");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: rgb(255, 255, 255);
}

a,
u {
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    min-height: 100vh;
}

.page {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    align-items: center;
    padding: 48px 32px 120px 32px;
}